main {
  min-height: 80vh;
}

h2 {
  font-size: 1rem;
  padding-top: 0.7rem;
}

.rating span {
  margin-left: 0.1rem;
}

.centering-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  height: 25rem;
}

.carousel-image {
  height: 20rem;
  padding: 1rem;
  border-radius: 2rem;
}

#uploaded-image {
  display: block;
  width: 200px;
}
